<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PVAI UI Test Automation Suite">

<!-- 	<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>
 -->

	<test name="PVAI UI Challenge Test Case">
		<classes>
			<class name="com.pvai.qa.testcases.HomeValuesTest"></class>
		</classes>
	</test>
</suite>